*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100vw;
  height: 100vh;
  font-family: poppins;
}

.navbar{
  background-color: #FF5722;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 3em;
  position: sticky;
  margin-top: 0;
}

.navbar h1 {
  color: white;
  font-size: 2em;
  font-weight: 600;
}

.navbar .links{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.navbar .links .navlink{
  color: white;
  text-decoration: none;
  margin: 0 1em;
}

.navbar .nav-right{
  display: flex;
  align-items: center;
  /* background-color: #fff; */
}

.nav-link{
  color: #fff;
  text-decoration: none;
  margin: 0 0.5em;
  font-size: 1.4em;
  display: flex;
  align-items: center;
}

.nav-link img{
  width: 25px;
  margin: 0 0.2em;
}


main {
  display: flex;
  background-size: cover;
  flex-direction: column;
  width: 100%;
  
}

main .firstmain{
  height: 91vh;
  background: url(./Assets/image.png) no-repeat;
  display: flex;
  width: 100%;
  align-items: center;
  background-size: cover;  
  flex-direction: column;
  justify-content: space-around;
}

.firstmain .searchBar{
  display: flex;
  align-items: center;
  height: 2.5em;
  /* background: #000; */
}

.firstmain .searchBar input{
  height: 100%;
  width: 40em;
  display: flex;
  padding: 0 2em;
  align-items: center;
  border: 0.1em solid #FF5722;
  color: #333;
  border-radius: 100em;
  outline: none;
  position: relative;
  left: 2.5em;
}

.firstmain .searchBar button{
  background-color: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF5722;
  border-radius: 100em;
  width: 5em;
  position: relative;
  right: 2.59em;
  height: 100%;
}

.firstmain .searchBar button img{
  height: 2.45em;
}

.firstmain .logo{
  font-size: 2em;
  font-weight: bold;
  color: #333;
}

.accueilBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 12em;
  height: 2.6em;
  background: #FF5722;
  text-decoration: none;
  color: #fff;
  border: none;
  border-radius: 0.5em;
}

.secondMain {
  display: flex;
  justify-content: space-evenly;
  background: rgba(33, 33, 33, 0.7);
  height: 30em;
  padding: 4em;
}

.secondMain .item{
  height: 22em;
  background: rgba(33, 33, 33, 0.69);
  width: 20em;
  padding: 2em;
  border: none;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  color: white;
}

.secondMain .item .roundBox {
  background: rgba(255, 255, 255, 0.5);
  width: 4.5em;
  height: 4.5em;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100em; */
}

.secondMain .item h2{
  font-size: 1.7em;
  font-weight: 600;
  margin-top: 1em;
}

.secondMain .item p{
  margin-top: 1em;
}

.connect{
  height: 100%;
  display: flex;
  width: 100%;
  align-items: center;
}

.connect .left{
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background: #000; */
  height: 100vh;
}

.connect .left h1{
  font-size: 2em;
  color: #FF5722;
  font-family: poppins;
  margin-bottom: 0.1em;
}
.connect .left p{
  font-size: 1em;
  font-family: poppins;
}

.connect .left form{
  margin-top: 2em;
  display: flex;
  flex-direction: column;
}

.connect .left form .email, .password, .nom, .numero{
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  font-family: poppins;
}

.email input, .password input, .nom input, .numero input{
  width: 26em;
  height: 2.5em;
  border-radius: 4px;
  padding: 14px;
  font-size: 1.2em;
}

.email input:focus, .password input:focus, .nom input:focus, .numeros input:focus{
  outline: none;
}

.btn{
  width: 100%;
  /* background: #000; */
  display: flex;
  justify-content: center;
  margin-top: 1.5em;
}

.btn button{
  width: 200px;
  height: 40px;
  background: #FF5722;
  color: white;
  border: none;
  border-radius: 14px;
  font-family: poppins;
  font-size: 1.2em;
}

span{
  margin-top: 1em;
  font-size: 1em;
  font-family: poppins;
}

.toco{
  text-decoration: none;
  color: #FF5722;
}

.connect .right{
  width: 50%;
  background: #FF5722;
  height: 100vh;
}

